<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.netflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netflix"
        tools:targetApi="31">
        <activity
            android:name=".MainScreens.MovieDetails"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.DemoActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.VideoPlayer"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MainScreens.Search"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.TvSeries"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.Settings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.Movies"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PaymentOverdue"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PaymentGateway"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.StepThree"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.StepTwo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.FinishUpAccount"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ChooseYourPlan"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.StepOne"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.Mainscreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SwipeScreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SigninActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_test_SMRQnVWx46o4Mq" />
    </application>

</manifest>